@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: robo;
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
    font-family: oswald ;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
@keyframes box-shadow {
  from{
    box-shadow:1px 1px 1px 50px black;
  }
  to{
    box-shadow:1px 1px 100px 50px black;

  }
}
body{
    font-family: oswald;
}
@layer components{


.left{
    z-index: 3;
    @apply w-[300px] fixed bg-gray-900 h-full

}
.countiner-left{
    @apply mx-[1.25rem] mt-[1.75rem] 
}
.owner-pic{
  transition: all 0.75s;
       @apply w-[132px] rounded bg-gray-400 p-1
}
.header-left{
    @apply my-[1.5rem] text-[30px] p-1  rounded text-gray-700 bg-gray-400 w-[55%]
}
.menu-list{
    @apply font-semibold mt-[2rem]
}
.menu-item{
  transition: all 0.5s;
   @apply flex items-center bg-gray-400 w-[45%]  p-1 my-[5px] rounded text-gray-700 text-center
}
.menu-item i{
    @apply mr-[0.5rem]
}
.socials{
 @apply  w-[45%] text-[20px] mt-[4rem] rounded text-gray-700 text-center flex flex-nowrap 
}
.socials i{
  transition: all 0.5s;
    @apply mx-[4px] bg-gray-400 p-[0.5rem] rounded-full
}
.right{
    position: absolute;
    right: 0;
    @apply w-[1004px] bg-gray-400 text-gray-700
}
.countiner-right{
    @apply mx-[50px] mr-[30px]
}
.header{
     @apply mt-[0.75rem]
}
.text-header{
 @apply text-[40px]
}
.filter{
 @apply flex  mt-[1.75rem] text-[24px] 
}
.filter-item{
    @apply mx-[1rem] flex items-center
}
.first{
    @apply bg-gray-950 text-white p-2 rounded w-[70px]
}
.first p {
  @apply text-center
}
.filter-item i{
    @apply mr-[0.75rem]
}
.card-coun{
  @apply mt-[1rem] 
}
.card-list{
  transition: all 0.5s;
    border: 1px solid;
   @apply flex flex-wrap border-gray-700
}
.card-items{
    border: 1px solid;
    transition: all 0.75s;
   @apply w-1/3 bg-gray-900 p-3 border-gray-700 rounded text-gray-500 
}
.card-img{
  transition: all 0.5s;
  @apply rounded  
}
.car-header{
  font-family:robo ;
  text-shadow: 1px 1px 50px 50px white;
 @apply mt-[3px] text-[25px] font-bold
}
.card-des{
   @apply font-medium text-[14px] leading-loose	text-justify text-gray-400	antialiased align-baseline
}
.pages{
 @apply  flex bg-gray-700 justify-center rounded-b-full rounded-es-full rounded-ee-full
}
.pages-item{
  transition: all 0.25s;
   @apply mx-[0.75rem] text-gray-500 rounded-full text-center bg-gray-400 p-4
}
.about-m{
  @apply mt-[5rem]
}
.Aimages{
   @apply flex justify-center bg-gray-700 rounded-3xl
}
.Aimages img{
   @apply mx-[0.75rem]  w-[500px] mb-[1rem] p-3 rounded-xl
}
.header-about{
   @apply font-bold text-left text-[35px] mt-3
}
.about-des{
  transition: all 0.75s ;
  @apply font-medium text-[20px] mt-[1.25rem] leading-loose p-6 	
  rounded-sm  
  text-justify bg-gray-700 text-gray-400	antialiased align-baseline;
  transform: scale(0.75);
}
.skills{
  @apply mt-[5rem] font-serif
}
.header-skill{
  @apply text-left text-[35px] font-bold font-serif mb-[1.25rem]
}
.skill-des{
  @apply  bg-gray-950 text-center text-gray-400 text-[25px] my-[0.75rem] rounded-full
}
.skills-con{
    @apply flex 
}
.one , .lefts , .east{
    @apply bg-gray-200 text-gray-700 font-extrabold text-center rounded
}
.two , .righs , .west{
    @apply bg-gray-700 h-full   rounded
}
.one{
  width: 95%;
}
.two{
 width: 5%;
}
.lefts{
 width: 85%;
}
.righs{
width: 15%;
}
.east{
 width: 80%;
}
.west{
 width: 20%;
}
.download{
 @apply  bg-gray-950 text-gray-400 font-serif font-bold mt-[3rem] p-5 rounded-2xl

}
.money{
  @apply mt-[4rem]

}
.money-top{
  @apply font-bold text-[35px]
}
.plans{
  @apply flex justify-center mt-[1.25rem]
}
.money-plans{
  transition: all 0.5s;
 @apply bg-gray-700 text-gray-400 mx-[1rem] w-1/3 text-center p-5 font-medium font-sans rounded
}
.money-header{
  position: relative;
  top: -19px;
  width: 260px;
  @apply bg-gray-950 rounded rounded-b-full p-8
}
.money-list{
  box-shadow: 1px 1px 100px 0px  black;
 @apply text-center 
}
.money-item{
  text-shadow: 1px 1px 1px  gray;
@apply p-5 border-b  border-gray-950  bg-slate-300 my-3 text-gray-700 rounded 
}
.singup{
@apply p-3 bg-gray-950 mt-3 rounded-full
}
.contact{
   @apply mt-[5rem]
}
.info{
 @apply flex justify-center rounded-full w-auto bg-gray-700
}
.infos{
  transition: all 0.5s;
  @apply   text-gray-200 p-[4rem] text-center font-medium text-[25px] w-1/3
}
.midf{

 @apply bg-gray-300 text-gray-700
}
.info-des{
 @apply font-extrabold 
}
.inputes{
  @apply mt-[2rem] bg-gray-600 rounded
}
.form-contact{
 @apply    text-gray-300 p-8
}
.input-des{
 @apply text-[18px] font-semibold mt-2
}
.inpute-items{
 @apply w-full h-[40px] mt-4
}
.dokme{
  transition: all 0.5s;
 @apply text-center w-full bg-gray-950  p-5 rounded-b-full text-gray-200 flex  justify-center items-center font-semibold 
}
.dokme i , .dokme P{
  @apply bg-gray-200 text-gray-700 p-4
}
.dokme p{
  @apply rounded-br-[30px] rounded-tr-[30px] border-l border-gray-600
}
.dokme i{
  @apply rounded-tl-[30px] rounded-bl-[30px]
}
.footer{
position: relative;
left: -32px;
  @apply mt-[6rem] w-[985px] flex h-[500px] bg-slate-600 text-slate-950
}
.child1{
  transition: all 0.5s;
  @apply w-1/2 bg-gray-700 p-12
}
.foter-header{
  transition: all 0.5s;
  @apply font-serif font-bold text-[30px] p-4
}
.footer-des{
  line-height: 3rem;
  transition: all 0.5s;
  @apply text-[25px] text-justify p-4 bg-slate-400 rounded 
}
.child2{
  transition: all 0.5s;
  @apply w-1/2 bg-gray-700 p-12

}
.card1 , .card2{
  transition: all 0.5s;
 @apply w-full h-[25%] flex bg-slate-400 my-[1rem] items-center rounded
}
.card1 img , .card2 img{
  transition: all 0.5s;
  @apply w-[150px] h-full mr-[0.75rem] p-2
}
.card1 h3 , .card2 h3{
  transition: all 0.5s;
  @apply font-bold text-[18px]  bg-gray-600 rounded-full p-5 text-white
}
.devep{
   animation: box-shadow infinite linear alternate 3s;
   @apply bg-black text-white font-extrabold flex justify-center items-center rounded-l-full rounded-r-full my-[1rem]
}
.Me{
   @apply p-4 
}
/* Hoverers */
.menu-item:hover{
  transform: translateX(40px);
  @apply text-gray-400 bg-gray-700 w-[200px] 
}
.socials i:hover{
  box-shadow: 1px 1px 80px 10px;
  transform: translateY(-40px) rotateY(360deg) scale(1.25) ;
  @apply text-gray-400 bg-transparent   shadow-gray-700
}
.owner-pic:hover{
  transform: rotateY(180deg) scale(1.25) ;
 @apply bg-transparent	rounded-full 
}
.card-items:hover , .card-items:hover .card-des{
  @apply text-gray-900  bg-gray-500 
}
.card-items:hover .card-img{
  filter: saturate(4);
}
.pages-item:hover{
  transform: scale(1.5);
  @apply 	bg-gray-700 text-gray-200 font-extrabold
}
.about-des:hover{
  transform: scale(1);
  @apply font-bold text-[25px] 
 text-gray-700 bg-gray-950
}
.money-plans:hover{
  transform: scale(1.05) ;
 @apply bg-gray-950 
}
.money-plans:hover .money-header{
  @apply bg-gray-700
}
.infos:hover{
  box-shadow: 1px 1px 50px 10px;
  @apply  text-gray-700 bg-gray-400 rounded-full shadow-gray-700
}
.input-border{
  border:5px solid ;
  @apply bg-gray-950 rounded-2xl border-gray-500
}
.child1:hover{
  @apply bg-slate-950
}
.child1:hover .footer-des{
  box-shadow: 1px 1px 50px 10px;
  @apply  text-slate-600 bg-slate-950 shadow-gray-700
}
.child1:hover .foter-header{
  box-shadow: 1px 1px 2px 5px;
  @apply  text-slate-500 shadow-gray-700 mb-[20px]
}
.child2:hover{
  @apply bg-slate-950
}
 .child2:hover img , .child2:hover img{
   @apply rounded-full
 }
 .child2:hover  h3 , .child2:hover  h3{
   @apply   text-gray-950  bg-transparent rounded-3xl
 }
 .child2:hover .card1 ,  .child2:hover .card2{
  transform: scale(1.2);
  @apply bg-zinc-400 my-[1.5rem] 
 }
 .child2:hover .foter-header{
  @apply bg-slate-600 rounded
 }

}